@import url("./reset.css");

body {
    display: flex;
    flex-wrap: nowrap;
}

li {
    list-style-position: inside;
}

.column {
    margin: auto;
    width: 33%;
    height: 400px;
    background-color:bisque;
}